<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SecondGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SecondGUI.Properties.Settings.UniversityConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=University;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="SecondGUI.Properties.Settings.EmailRecordsConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EmailRecords;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <SecondGUI.Properties.Settings>
            <setting name="FromEmail" serializeAs="String">
                <value>p190068@nu.edu.pk</value>
            </setting>
            <setting name="SMTP_Gmail" serializeAs="String">
                <value>smpt.gamil.com</value>
            </setting>
            <setting name="SMTP_Yahoo" serializeAs="String">
                <value>smpt.mail.yahoo.com</value>
            </setting>
            <setting name="SMTP_OutLook" serializeAs="String">
                <value>smpt.outlook.com</value>
            </setting>
            <setting name="SMTP_Hotmail" serializeAs="String">
                <value>smpt.live.com</value>
            </setting>
            <setting name="TOEmail" serializeAs="String">
                <value>usmanmanzoor1000@gmail.com</value>
            </setting>
            <setting name="FromPassword" serializeAs="String">
                <value>cvkmohfvrqjjoxkg</value>
            </setting>
        </SecondGUI.Properties.Settings>
    </applicationSettings>
</configuration>
